<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graphicsStyle.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='aniprogameAvatar.png') }}" type = "image/x-icon">
        <script src="script.js"></script>
        <title>ANIPROGAME</title>
    </head>
    <body>
        <header>
            <img id="avatar" src="{{ url_for('static', filename='aniprogameAvatar.png') }}"></img>
            <h1 id="name">ANIPROGAME</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index">ГЛАВНАЯ</a>
                    <ul>
                        <li><a href="index#news">НОВОСТИ</a></li>
                        <li><a href="index#invite">ПРИГЛАШЕНИЕ</a></li>
                    </ul>
                </li>
                <li><a href="info">ИНФОРМАЦИЯ</a>
                    <ul>
                        <li><a href="info#desc">ОПИСАНИЕ</a></li>
                        <li><a href="info#rules">ПРАВИЛА</a></li>
                        <li><a href="info#moderation">МОДЕРАЦИЯ</a></li>
                    </ul>
                </li>
                <li><a href="graphics">ГРАФИКИ DISCORDSERVER</a>
                    <ul>
                        <li><a href="graphics#members">УЧАСТНИКИ</a></li>
                        <li><a href="graphics#activity">АКТИВНОСТЬ</a></li>
                        <li><a href="graphics#messages">СООБЩЕНИЯ</a></li>
                        <li><a href="graphics#online">ОНЛАЙН</a></li>
                    </ul>
                </li>
                <li><a href="bot">БОТ</a>
                    <ul>
                        <li><a href="bot#desc">ОПИСАНИЕ</a></li>
                        <li><a href="bot#commands">КОМАНДЫ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="content">
            <aside></aside>
            <article>
                <section id="members">
                    <h1>Участники</h1>
                    <iframe src="https://discordserver.info/766743926782427145/widgets/chart/users" frameborder="0"></iframe>
                </section>
                <section id="activity">
                    <h1>Активность</h1>
                    <iframe src="https://discordserver.info/766743926782427145/widgets/chart/activity" frameborder="0"></iframe>
                </section>
                <section id="messages">
                    <h1>Сообщения</h1>
                    <iframe src="https://discordserver.info/766743926782427145/widgets/chart/messages" frameborder="0"></iframe>
                </section>
                <section id="online">
                    <h1>В голосовом</h1>
                    <iframe src="https://discordserver.info/766743926782427145/widgets/chart/online" frameborder="0"></iframe>
                </section>
            </article>
            <aside>
                <iframe src="https://discord.com/widget?id=766743926782427145&theme=dark" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </aside>
            <aside></aside>
            <footer>
                <h2>© ANIPROGAME 2021</h2>
                <p>Любое использование либо копирование материалов или подборки материалов сайта, элементов дизайна и оформления допускается лишь с разрешения правообладателя и только со ссылкой на источник: xotlone.github.io/aniprogame.github.io/</p>
            </footer>
        </div>
    </body>
</html>