#avatar {
    width: 260px;
    height: 260px;
    border: 10px solid #6fa9de;
    border-radius: 140px;
}

#name {
    text-shadow: 5px 5px 0 #6fa9de;
}

nav {
    border-bottom: 3px solid #6fa9de;
    border-top: 3px solid #6fa9de;
}

nav > ul > li > a {
    border-top: 1px solid #6fa9de;
    border-bottom: 1px solid #6fa9de;
}

nav ul > li > ul > li {
    border-bottom: 1px solid #6fa9de;
}

nav ul > li > ul > li:first-child {
    border-top: 1px solid #6fa9de;
}

nav ul ul a:hover, nav ul > li:hover > a {
    color: #6fa9de;
}

section {
    border-bottom: 3px dotted #6fa9de;
}

section:last-child {
    padding-bottom: 30px;
}

#desc div {
    font-size: 20px;
    border: 3px solid #6fa9de;
    padding: 30px;
}

#commands div {
    border: 3px solid #6fa9de;
    padding: 30px;
    font-size: 20px;
}

#commands ul {
    list-style: none;
}