@font-face {
    font-family: APG;
    src: url(APG.ttf);
}

@keyframes opacityOn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes topMove {
    0% {
        transform: translateY(-150%);
        transform: translateY(auto);
    }
}

body {
    margin: 0;
    margin-top: 50px;
    font-family: APG, 'Arial';
    background-color: rgb(47, 49, 54);
    color: white;
    padding: 0;
    overflow-x: hidden;
}

#avatar {
    animation: ease-in-out topMove 1.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-size: 100px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 0 rgb(200, 0, 0);
    animation-name: opacityOn;
    animation-duration: 3s;
}

nav {
    text-align: center;
    border-bottom: 3px solid rgb(200, 0, 0);
    border-top: 3px solid rgb(200, 0, 0);
}

nav ul {
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
}

nav > ul {
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 40px;
    margin: 0;
    padding: 0;
    justify-content : center;
    margin: 0 auto 0 auto;
}

nav > ul > li {
    padding: 10px 0;
}

nav ul a {
    text-decoration: none;
    color: white;
    display: block;
}

nav > ul > li > a {
    padding: 10px 15px;
    border-top: 1px solid rgb(200, 0, 0);
    border-bottom: 1px solid rgb(200, 0, 0);
}

nav > ul > li > ul {
    display: none;
    position: absolute;
    width: 300px;
    margin-top: -1px;
}

nav > ul > li:hover > ul {
    display: block;
    animation-name: opacityOn;
    animation-duration: 0.5s;
}

nav ul > li > ul > li {
    padding: 10px 15px;
    border-bottom: 1px solid rgb(200, 0, 0);
    position: relative;
    z-index: 3;
    text-align: right;
    background-color: rgb(67, 69, 74);
}

nav ul > li > ul > li:first-child {
    border-top: 1px solid rgb(200, 0, 0);
}

nav > ul > li:hover > a {
    background-color: rgb(67, 69, 74);
}

nav ul ul a:hover, nav ul > li:hover > a {
    color: rgb(200, 0, 0)
}

div#content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

aside {
    margin: 20px;
}

aside iframe {
    width: 100%;
    height: 100%;
}

article {
    display: grid;
}

section {
    border-bottom: 3px dotted rgb(200, 0, 0);
    padding-bottom: 40px;
}

section:last-child {
    padding-bottom: 10px;
}

section > h1 {
    text-align: center;
    font-size: 50px;
}

.lineThrough {
    text-decoration: line-through;
}

footer {
    margin-bottom: 20px;
}